version: 6.7.0-dev-{build}
image: Visual Studio 2019
configuration: Release
before_build:
- ps: '& .\appveyor-prebuild.ps1'
build:
  project: SafeguardDotNet.sln
  publish_nuget: true
  publish_nuget_symbols: true
  use_snupkg_format: true
  parallel: true
  verbosity: normal
deploy:
- provider: NuGet
  api_key:
    secure: xE+LvURfgfWntKUSJwsSnvRwhrcZGtq/OB/mtXfsdXscEXT4QMx/swljqSiJ8YVU
notifications:
- provider: Email
  to:
  - petrsnd@gmail.com
  subject: SafeguardDotNet build is failing
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false
